<div class="right" *ngIf="tutorials">
  <h3>Tutorials</h3>
  <ul>
    <li style="margin-bottom: 2%;" *ngFor="let tutorial of tutorials | async;let i = index">
      <a [href]="tutorial.url" target="_blank">{{ tutorial.name }}</a>
      <button style="margin-left: 2%;" (click)="deleteTutorial(i)">delete</button>
    </li>
  </ul>
</div>
